<h1>Edit Upload</h1>

<%= form_for [@current_user, @current_upload] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>

  <div class="field">
    <%= f.label :imported? %>
    <%= f.check_box :imported %>
  </div>

  <%= f.submit 'Update' %>
<% end %>
